body {
  width: 850px;
  margin: 0 auto;
}

main {
  display:flex;
  background-image: url("galaxy.jpg");
  background-size: 850px 450px;
  height: 450px;
  color: white;
  align-items: center;
  justify-content: center;
}
.Nasa {
  font: white;
  text-align: center;
  font-size: 100px;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}
section {
  display: flex;
  height: 324px;
  width: 850px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: rgb(230,230,230);
  font: black;
  
}
article {
  display: flex;
  width: 270px;
  height: 324px;
  align-items: center;
  flex-direction: column;
  background-color: rgb(230,230,230);
  font-family: sans-serif;

}

ul.no-bullets {
  display: flex;
  flex-direction: column; 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  background-color: rgb(77,77,77);
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 1px;
  cursor: pointer;